<div class='user-card'>
  <% if user.photo.present? %>
    <%= image_tag user.photo, alt: "#{user.name} profile image", class: 'profile' %>
  <% else %>
    <%= image_tag 'default_profile_image.png', alt: "#{user.name} profile image", class: 'profile' %>
  <% end %>
  <%= link_to user, class: 'user-card-body' do %>
    <h4><%= user.name %></h4>
    <div class='user-post-count'>
      Number of posts: <%= user.posts.count == nil ? 0 : user.posts.count %>
    </div>
  <% end %>
</div>
